---
layout: post-index
title: Latest Posts
description: "Describe this nonsense."
tags: [방통위, 방통위 차단, DNS차단, 토렌트, torrent, 차단, 성인웹툰]
comments: false
image:
  feature: index-back.jpg
  credit: warningmonster
  creditlink: https://warning.id
tipue_search_active: false     # tipuesearch function을 실행하라는 의미
exclude_from_search: false    # tipuesearch 검색대상에서 제외하라는 의미
---

<!--- 2018.11.04 검색 기능 추가-->
<form action="{{ page.url | relative_url }}">
  <div class="tipue_search_left"><img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon"></div>
  <div class="tipue_search_right"><input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required></div>
  <div style="clear: both;"></div>
</form>

<div id="tipue_search_content"></div>

<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch();
});
</script>
<!--- End of 2018.11.04 검색 기능 추가-->

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content | strip_html | strip_newlines | truncate: 300 }}&hellip;<br><br><p align="right"><a href="{{ site.url }}{{ post.url }}" class="btn btn-primary">READ MORE</a></p>
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}
